@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles go here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    overflow-x: visible;
    overflow-y: visible;
}
a{
    text-decoration: none;
    color: inherit;
}